/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neon Glow */
.neon-glow {
    text-shadow: 0 0 8px rgba(255, 0, 150, 0.8), 0 0 20px rgba(255, 0, 150, 0.6);
  }
  
  .neon-glow-button {
    box-shadow: 0 0 10px rgba(255, 0, 150, 0.8), 0 0 40px rgba(255, 0, 150, 0.6);
  }
  
  .neon-glow-button:hover {
    box-shadow: 0 0 20px rgba(255, 0, 150, 1), 0 0 50px rgba(255, 0, 150, 0.8);
  }
  